/* Aplica este estilo solo al contenedor principal de Index */
.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Estilos para el navbar */
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B67AE; /* Color de fondo del navbar */
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Transición suave */
  }
  
  .show {
    transform: translateY(0); /* Header visible */
  }
  
  .hide {
    transform: translateY(-100%); /* Header oculto al hacer scroll hacia abajo */
  }
  
  /* Clase para ocultar el navbar cuando se hace scroll hacia abajo */
  .navbar-hidden {
    top: -100px; /* Desplaza el navbar hacia arriba, fuera de la pantalla */
  }
  
  .navbar-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly; /* Distribuye los botones equitativamente */
    margin-left: 100px; /* Acerca "¿A dónde ir?" a la izquierda */
  }
  
  /* Estilos para los botones que se ven como enlaces (invisibles pero funcionales) */
  .navbar-links button {
    color: #ffffff;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 150px;
    cursor: pointer; /* Muestra el cursor de enlace al pasar por el botón */
    padding: 10px 0; /* Añade un poco de padding para que sea clicable */
  }
  
  /* Ajuste para "ES/EN" para que se distribuya equitativamente */
  .navbar-auth {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .navbar-auth button {
    color: #ffffff;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 0; /* Añade padding para aumentar el área clicable */
  }
  
  .navbar-search {
    margin-right: 30px;
  }
  
  .navbar-search button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    cursor: pointer;
  }
  
  .navbar-search i {
    font-size: 24px; /* Tamaño del icono */
    color: #ffffff;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
  }
  
  .dropdown-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  .hero3 {
    background-image: url("../assets/img/Losbellotos.png") !important;  /* Aquí va la ruta de tu imagen */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: left; /* Centra verticalmente */
    text-align: left; /* Alinea el texto a la izquierda */
    color: white;
    padding: 40px 60px; /* Ajusta el padding para que no quede pegado a los bordes */
    box-sizing: border-box;
    flex-direction: column; /* Coloca los elementos en columna */
    margin-top: 74px;
  }
  
  .hero-content3 {
    margin-top: 100px;
    margin-left: 50px;
    align-items: start;
  }
  
  .hero3 h5 {
    font-size: 1rem; /* Ajusta el tamaño del texto principal */
    margin-bottom: 5px; /* Espaciado entre las líneas de texto */
  }
  
  .hero3 h1 {
    font-size: 3rem;
    margin-bottom: 40px; /* Espaciado entre el subtítulo y el botón */
  }
  .hero3 h4 {
    margin-top: 150px;
    width: 690px;
    height: 297px;
    font-size: 1rem;
    margin-bottom: 5px; /* Espaciado entre el subtítulo y el botón */
  }
  