.btn-floating {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: #4B67AE; /* Color de fondo morado */
  color: white;
  border: none;
  border-radius: 50%; /* Para que sea un círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejor visibilidad */
}

@media (max-width: 768px) {
  .btn-floating{
    display: none;
  }
}

.left {
  left: -20px; /* A la izquierda de la pantalla */
}

.right {
  right: -20px; /* A la derecha de la pantalla */
}

.icon {
  font-size: 32px; /* Tamaño del icono */
  pointer-events: none; /* Para que el icono no interfiera con el botón */
}

.btn-floating:hover {
  background-color: #364a7e; /* Cambiar el color cuando se hace hover */
}

body.dark-mode .btn-floating {
  background-color: #000000; /* Color de fondo morado */
  color: white;
}

body.dark-mode .btn-floating:hover {
  background-color: #494949; /* Cambiar el color cuando se hace hover */
}