.btn-floating {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: white; 
  color: #4B67AE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejor visibilidad */
}

@media (max-width: 1200px) {
  .btn-floating{
    display: none;
  }
}

.left {
  right: -20px; /* A la izquierda de la pantalla */
}

.right {
  margin-top: 60px;
  right: -20px; /* A la derecha de la pantalla */
}

.icon {
  font-size: 32px; /* Tama침o del icono */
  pointer-events: none; /* Para que el icono no interfiera con el bot칩n */
}

.btn-floating:hover {
  background-color: #364a7e; /* Cambiar el color cuando se hace hover */
  color: #ffffff;
}

body.dark-mode .btn-floating {
  background-color: #000000; /* Color de fondo morado */
  color: white;
}

body.dark-mode .btn-floating:hover {
  background-color: #494949; /* Cambiar el color cuando se hace hover */
}

.left i, .right i{
  margin-right: 15px;
}


/* Estilos para los iconos */
.btn-floating .icon i {
  font-size: 1.5rem; /* Tama침o del icono */
  transition: color 0.2s; /* Transici칩n suave para el color */
}

.btn-floating:hover .icon i {
  color: #00bcd4; /* Cambia el color del icono en hover */
}