/* Contenedor principal */
.cadastre-container-CZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; /* Espaciado entre las secciones */
  background-color: #ffffff; /* Fondo blanco */
}

/* Sección de introducción */
.intro-section-CZ {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  margin-top: 160px;
  padding: 0 20px;
}

.intro-header-CZ h5 {
   color: #757575;
  font-size: 1rem;
  margin-bottom: 10px;
}

.intro-subheader-CZ h1 {
  color: #4b67ae;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.intro-details-CZ h5 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

/* Sección de enlaces */
.links-section-CZ {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  padding: 0 8%;
}

.link-item-CZ {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.link-item-CZ h2 {
  font-size: 30px;
  color: #4B67AE;
  font-weight: bold;
  margin-bottom: 5px;
}

.link-item-CZ h2 a {
  color: #4B67AE;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.link-item-CZ h2 a:hover {
  color: #2A4E90;
}

.link-description-CZ {
  font-size: 14px;
  color: #8C8C8C;
  margin-top: -10px;
}

/* Responsividad */
@media (max-width: 800px) {
  .intro-section-CZ {
    margin-top: 100px;
  }

  .intro-header-CZ{
    padding: 20px;
  }

  .intro-details-CZ{
    padding: 20px;
  }
  
  .intro-header-CZ h1 {
    font-size: 28px;
  }

  .link-item-CZ h2 {
    font-size: 20px;
  }

  .intro-details-CZ h5 {
    font-size: 16px;
  }
}

body.dark-mode .cadastre-container-CZ {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

body.dark-mode .intro-header-CZ h5 {
  color: #bbbbbb; /* Texto claro */
}

body.dark-mode .intro-subheader-CZ h1 {
  color: #ffffff; /* Azul claro para modo oscuro */
}

body.dark-mode .intro-details-CZ h5 {
  color: #d1d1d1; /* Texto claro */
}


body.dark-mode .link-item-CZ h2 {
  color: #ffffff; /* Azul claro */
}

body.dark-mode .link-item-CZ h2 a {
  color: #ffffff; /* Azul claro para enlaces */
}

body.dark-mode .link-item-CZ h2 a:hover {
  color: #ffffff; /* Azul oscuro para hover */
}

body.dark-mode .link-description-CZ {
  color: #bbbbbb; /* Texto claro */
}
