@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Contenedor principal */

.service-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 10px 0 5px; /* Espacio entre la imagen y el título */
  text-align: start;
}

/* Tarjeta de servicio */
.service-container {
  width: 270px;
  height: 340px;

}

body.dark-mode .service-title {
  color: white;
  font-size: 20px;
  margin: 10px 0 5px; /* Espacio entre la imagen y el título */
  text-align: start;
}

.ser-descripcion  {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
  text-align: start;
  margin-bottom: 10px; /* Espacio entre la descripción y los botones */
  word-wrap: break-word;
  width: 70%;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que exceda el contenedor */
  text-overflow: ellipsis; /* Muestra los puntos suspensivos (...) */
}

body.dark-mode .ser-descripcion  {
  color: #ffffff;
}

.Costo{
  font-size: 14px;
  color: #4B67AE;
}

body.dark-mode .Costo{
  font-size: 14px;
  color: #ffffff;
}

.service-image {
  width: 100%;
  height: auto;
  max-height: 100%; /* Limita la altura máxima al tamaño del contenedor */
  object-fit: cover; /* Escala y recorta la imagen para llenar el contenedor */
  border-radius: 8px; /* Aplica el mismo radio de borde para consistencia */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

/* Sidebar para crear servicios */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  z-index: 998; /* Debe estar debajo del sidebar */
}

.sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 482px; /* Ajusta el ancho según sea necesario */
  max-width: 90%;
  max-height: 80vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la sidebar en pantalla */
  height: auto; /* Ajusta la altura automáticamente */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.sidebar .close-button,
.service-list-sidebar .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar .close-button p,
.service-list-sidebar .close-button p {
  top: 10px;
  right: 10px;
  color: #4B67AE;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  position: absolute; /* Asegúrate de que esté posicionado */
}

.sidebar .close-button:hover,
.service-list-sidebar .close-button:hover {
  color: black;
  background: none;
}

.sidebar-img{
  width: 36px;
  height: 40px;
}

.sidebar h1 {
  font-size: 24px;
  color: #4B67AE;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.sidebar h3{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}

body.dark-mode .sidebar h3{
  font-size: 14px;
  color: rgb(76, 76, 76);
  margin: 10px 0;
  text-align: center;
}

.sidebar p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Estilo de los campos de entrada */
.sidebar input[type="text"],
.sidebar input[type="email"],
.sidebar textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.sidebar input[type="file"]{
  width: 100%;
  height: 20vh;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.sidebar .file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

/* Estilo del botón de aceptar */
.sidebar button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4B67AE;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}

.sidebar button[type="submit"]:hover {
  background-color: #3a54a0;
}

/* Estilo del botón de cerrar (X) */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #4B67AE;
}

/* Estilo del campo de descripción */
.sidebar textarea {
  font-family: 'Roboto', sans-serif;
  height: 80px;
  resize: none;
}

/* Texto de ayuda para la carga de archivos */
.sidebar .file-upload small {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.sidebar form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}

.sidebar form label{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.sidebar input, .sidebar textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sidebar button:hover {
  background-color: #1c4db7;
}

/* Sección de servicios usando Grid */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 100%;
  justify-items: center; /* Centra las cards en su columna */
  padding: 0 8%;
}

/* Tarjeta de servicio */
.service-card {
  background-color: #D9D9D9;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 270px;
  overflow: hidden;
}

/* Botones dentro de las tarjetas */
.service-card .card-buttons {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a lo largo del contenedor */
  gap: 5px;
  align-items: center;
  margin-top: auto; /* Asegura que los botones estén al final de la tarjeta */
}

.service-card button {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación suave */
  display: none;
}

/* Botón reenviar */
.service-card .reenviar {
  background-color: #ff9900;
  color: white;
  border: none;
}

.service-card .reenviar:hover {
  background-color: #cc7a00;
}


/* Expansión de la tarjeta */
.service-card.expanded {
  position: fixed;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para que el centro sea el medio de la pantalla */
  width: 90%; /* Ocupa el 90% del ancho de la pantalla */
  max-width: 1200px; /* Establece un ancho máximo mayor */
  height: auto;
  min-height: 70%;
  background-color: white;
  z-index: 1000;
  padding: 40px;
  border-radius: 10px; /* Bordes redondeados para un efecto visual atractivo */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra para dar la sensación de "flotar" */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-direction: row-reverse; /* Imagen a la derecha */
}

/* Estilo de la imagen en la tarjeta cerrada */
.service-card.closed .gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Botón cerrar en la tarjeta expandida */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover {
  background-color: #4B67AE;
}

.profile-container {
  align-items: center;
  width: 100%;
  padding-top: 100px;
}

/* Contenedor para centrar el avatar */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre el avatar y las cards */
}

/* Estilos del avatar */
.avatar-ser {
  width: 80px;
  height: 80px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Estilos del avatar */
body.dark-mode .avatar-ser {
  background-color: #ffffff;
}

.avatar-text-ser {
  font-size: 36px;
  color: #4B67AE;
  font-weight: bold;
}

/* Estilos para el nombre completo debajo del avatar */
.FullName {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #4B67AE;
  font-weight: bold;
  text-align: center;
}

body.dark-mode .FullName {
  color: #ffffff;
}

.TipoRol{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
  text-align: center;
}

body.dark-mode .TipoRol{
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.Contador{
  font-family: 'Roboto', sans-serif;
  color: #4B67AE;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

body.dark-mode .Contador{
  color: #ffffff;
}

.ButtonsCRUD{
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 30px; /* Espacio entre los botones */
}

.ButtonsCRUD button{
  background-color: #4B67AE;
  color: white;
  border: none;
  border-radius: 24px; /* Borde redondeado */
  padding: 5px 15px; /* Espacio interno uniforme */
  font-weight: 500;
  cursor: pointer;
  width: 140px; /* Ancho fijo */
  height: 49px; /* Alto fijo */
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 50px;
}

body.dark-mode .ButtonsCRUD button{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.ButtonsCRUD button h5{
  font-size: 14px;
  margin: 0; /* Elimina el margen de h5 para que esté centrado perfectamente */
  padding: 0;
}

.file-upload-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #7a7a7a;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease;
}

.file-upload-container.drag-active {
  border-color: #4B67AE;
}

.file-upload-input {
  display: none; /* Oculta el campo de archivo real */
}

.file-upload-label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.file-upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px  #ccc;
  border-radius: 4px;
}

.file-upload-icon {
  font-size: 24px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.file-upload-instructions {
  font-size: 12px;
  color: #a0a0a0;
  margin-top: 10px;
}

.service-list-sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  /* Ajustes de altura y desplazamiento */
  max-height: 500px; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.service-item {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.service-item:hover {
  background-color: #3b5297;
  color: white;
}

.service-list-sidebar h3 {
  font-size: 20px;
  color: #3b5297;
  font-weight: bold;
  width: 240px;
}
/* Contenedor del título y el botón */
.title-and-reenviar {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el título y el botón */
}

.DownCard {
  position: relative; /* Necesario para posicionar el botón de reenviar */
  padding-top: 10px; /* Ajuste si necesitas espacio adicional para el botón */
}

/* Estilos para el botón de reenviar */
.reenviar {
  position: absolute;
  top: 10px; /* Espacio desde la parte superior */
  right: 10px; /* Espacio desde la parte derecha */
  background-color: #4B67AE; /* Color de fondo */
  color: white; /* Color del ícono o texto */
  border: none;
  border-radius: 50%; /* Forma redonda */
  width: 30px; /* Tamaño del botón */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación de hover */
  font-size: 14px; /* Tamaño del ícono */
  z-index: 10; /* Asegura que el botón esté encima de otros elementos */
}

.delete {
  position: absolute;
  top: 10px; /* Espacio desde la parte superior */
  right: 45px; /* Espacio desde la parte derecha */
  background-color: #e13232; /* Color de fondo */
  color: white; /* Color del ícono o texto */
  border: none;
  border-radius: 50%; /* Forma redonda */
  width: 30px; /* Tamaño del botón */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación de hover */
  font-size: 14px; /* Tamaño del ícono */
  z-index: 10; /* Asegura que el botón esté encima de otros elementos */
}

.reenviar:hover {
  background-color: #3A539B; /* Color de fondo al hacer hover */
}
.delete:hover {
  background-color: #8e2e2e; /* Color de fondo al hacer hover */
}

.service-card .service-image.full-image {
  width: 100%; /* Imagen en tamaño completo cuando la tarjeta está cerrada */
  height: auto;
  border-radius: 10px;
}

.service-card .service-image {
  width: 45%; /* Imagen ocupa 45% del contenedor */
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.service-details {
  width: 50%; /* Detalles ocupan 50% del contenedor */
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333; /* Alineado al estilo de tu página */
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

.service-details h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #4B67AE; /* Color principal */
}

.service-details p {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.service-details .service-contact,
.service-details .service-email,
.service-details .service-price {
  font-weight: bold;
}

/* Contenedor de la galería expandida */
.service-card.expanded .expanded-gallery1 {
  display: grid;
  gap: 20px; /* Espacio entre las imágenes */
  margin-left: auto; /* Desplaza el contenido hacia la derecha */
  margin-top: 8px;
  padding: 20px;
  justify-items: center; /* Alinea las imágenes en el centro */
  max-width: 1000px; /* Controla el tamaño máximo */
}

/* Estilos de cada imagen */
.service-card.expanded .expanded-gallery-image1 {
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos cuando hay una sola imagen */
.service-card.expanded .expanded-gallery1.single-image {
  grid-template-columns: 1fr; /* Una sola columna para una imagen */
}

.service-card.expanded .expanded-gallery1.single-image .expanded-gallery-image1 {
  height: 350px;
  width: 100%;
}

/* Estilos para dos imágenes */
.service-card.expanded .expanded-gallery1.two-images {
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
}

.service-card.expanded .expanded-gallery1.two-images .expanded-gallery-image1 {
  height: 350px;
  width: 100%;
}

/* Estilos para tres imágenes */
.service-card.expanded .expanded-gallery1.three-images {
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
}

.service-card.expanded .expanded-gallery1.three-images .expanded-gallery-image1 {
  height: 300px;
  width: 100%;
}

/* Estilos para cuatro imágenes */
.service-card.expanded .expanded-gallery1.four-images {
  grid-template-columns: repeat(2, 1fr); /* Dos columnas para cuatro imágenes */
}

.service-card.expanded .expanded-gallery1.four-images .expanded-gallery-image1 {
  height: 200px;
  width: 100%;
}

/* Ajuste para pantallas grandes */
@media (min-width: 1024px) {
  .service-card.expanded .expanded-gallery1 {
    max-width: 1200px;
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .service-card.expanded .expanded-gallery1 {
    grid-template-columns: 1fr; /* En pantallas pequeñas, apilan todas las imágenes */
  }
  .service-card.expanded .expanded-gallery-image1 {
    width: 100%;
    height: auto;
  }
}

.service-card.expanded .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #4B67AE;
  cursor: pointer;
  display: block; /* Asegúrate de que el botón esté visible */
}

/*por si se añade el agregar mas imagenes*/
.service-card.expanded .image-gallery {
  display: grid;
  gap: 10px;
  width: 0%;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  padding: 10px;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
  max-width: 400px; 
}


.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Bordes redondeados para cada imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
  max-height: 350px; /* Limita la altura máxima de cada imagen */
}

.service-card.expanded .service-header {
  display: flex;
  justify-content: space-between; /* Separa el título y el botón de cerrar */
  align-items: center;
  width: 100%;
  padding: 10px 20px; /* Ajusta este padding según quieras acercarlo o alejarlo */
  position: absolute;
  top: 20px; /* Controla la altura desde el borde superior de la tarjeta */
  left: 0;
  right: 0;
}

.service-card.expanded .service-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  flex: 1; /* Hace que el título ocupe el espacio restante */
}

.service-card.expanded .service-details p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.5;
  align-items: center;
}

.service-card.expanded .service-details strong {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-right: 8px; /* Espacio entre el título en negritas y el contenido */
}

.service-card.expanded .service-details span {
  font-family: 'Roboto', sans-serif;
  font-weight: normal; /* Texto normal para el contenido después de strong */
}

.file-upload-content img {
  max-width: 100%; /* La imagen no excederá el ancho del contenedor */
  max-height: 198px; /* Define un alto máximo para mantener proporciones */
  object-fit: contain; /* Ajusta la imagen dentro del espacio disponible */
  border-radius: 8px; /* Opcional: Añade bordes redondeados para un mejor diseño */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: Agrega sombra para mejorar la visibilidad */
}


/* Responsividad para pantallas de hasta 786px */
@media (max-width: 786px) {
  .service-container {
    justify-content: center;
    text-align: center;
  }

  .service-card.expanded .expanded-gallery1 {
    margin-top: 80px;
  }
  

  /* Ajustes para la tarjeta de servicio */
  .service-card {
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 5px;
  }

  /* Ajustes para el contenido de la tarjeta de servicio expandida */
  .service-card.expanded {
    max-width: 90%; /* Limita el ancho máximo de la tarjeta */
    max-height: 95%; /* Limita la altura máxima al 80% del viewport */
   
    height: auto; /* Ajusta automáticamente la altura al contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical cuando sea necesario */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra suave */

    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */

  }
  
  .service-card.expanded .service-details p {
    font-size: 16px;
  }
  
  .service-card.expanded .expanded-gallery1 {
    grid-template-columns: 1fr; /* Pone las imágenes en una columna en pantallas pequeñas */
    max-height: 30%; /* Ajusta la altura máxima */
  }

  .service-card.expanded .service-details {
    max-height: 150px; /* Reduce la altura máxima de los detalles en pantallas pequeñas */
    font-size: 14px;
  }
  

  /* Ajustes para el título dentro de la tarjeta expandida */
  .service-card.expanded .service-title {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  /* Ajustes para la imagen dentro de la tarjeta expandida */


  /* Ajustes para el detalle del servicio */
  .service-card.expanded .service-details {
    width: 100%; /* Ocupa el ancho completo en dispositivos pequeños */
    font-size: 14px;
    margin-top: 10px; /* Espacio entre la imagen y la descripción */
    text-align: left;
  }

  /* Ajustes para el sidebar */
  .sidebar {
    width: 90%; /* Ancho más pequeño en pantallas pequeñas */
    max-height: 75vh; /* Altura máxima más pequeña */
  }

  /* Ajustes de imagen en el sidebar */
  .sidebar-img {
    width: 30px;
    height: 34px;
  }

  /* Ajustes para el contenedor del avatar */
  .avatar-container {
    margin-bottom: 10px; /* Menor espacio entre el avatar y el resto */
  }

  .avatar-ser {
    width: 60px;
    height: 60px;
  }

  .avatar-text-ser {
    font-size: 30px;
  }

  .FullName {
    font-size: 28px;
  }

  .TipoRol, .Contador {
    font-size: 12px;
  }

  /* Ajustes para el botón de cerrar en tarjetas */
  .close-button {
    top: 5px;
    right: 5px;
    font-size: 18px;
  }

  /* Ajustes para el contenedor de carga de archivos */
  .file-upload-container {
    height: 150px;
    font-size: 12px;
  }

  /* Ajustes para el botón de reenviar en tarjetas */
  .reenviar {
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: end;
    justify-content: end;
    margin-right: 0px;
    display: flex;
  }

  /* Ajustes para el botón de reenviar en tarjetas */
  .delete {
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: end;
    margin-right: 0px;
    justify-content: end;
    display: flex;
  }

  .sidebar p {
    font-size: 10px;
  }

  .DownCard {
    width: 270px;
    justify-content: center;
    text-align: start;
  }

  .services{
    padding: 0 4%;
  }

  .service-card.closed .gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .service-card.expanded .expanded-gallery1 {
    margin-top: 40px;
  }
}

body.dark-mode .profile-container {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}