/* Aplica este estilo solo al contenedor principal de Index */
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.hero40, .hero41, .hero42, .hero43 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: left; /* Centra verticalmente */
  text-align: left; /* Alinea el texto a la izquierda */
  color: white;
  padding: 40px 60px; /* Ajusta el padding para que no quede pegado a los bordes */
  box-sizing: border-box;
  flex-direction: column; /* Coloca los elementos en columna */
  position: relative;
}

.hero40 {
  background-image: url("../assets/img/image.png") !important;
  margin-top: 20px;
}

.hero41 {
  background-image: url("../assets/img/image.png") !important;
}

.hero42 {
  background-image: url("../assets/img/image.png") !important;
}

.hero43 {
  background-image: url("../assets/img/image.png") !important;
}

.hero-content40, .hero-content41, .hero-content42, .hero-content43 {
  margin-top: 100px;
  margin-left: 50px;
  align-items: start;
}

.hero40 h5, .hero41 h5, .hero42 h5, .hero43 h5 {
  font-size: 1rem; /* Ajusta el tamaño del texto principal */
  margin-bottom: 5px; /* Espaciado entre las líneas de texto */
}

.hero40 h1, .hero41 h1, .hero42 h1, .hero43 h1 {
  font-size: 3rem;
  margin-bottom: 40px; /* Espaciado entre el subtítulo y el botón */
}

.hero40 h4, .hero41 h4, .hero42 h4, .hero43 h4 {
  margin-top: 150px;
  width: 690px;
  height: auto;
  font-size: 1rem;
  margin-bottom: 5px; /* Espaciado entre el subtítulo y el botón */
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .hero40, .hero41, .hero42, .hero43 {
    padding: 20px;
    min-height: 65vh;
    text-align: center;
  }

  .hero-content40, .hero-content41, .hero-content42, .hero-content43 {
    margin-top: 60px;
    margin-left: 0;
    align-items: center;
  }

  .hero40 h1, .hero41 h1, .hero42 h1, .hero43 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero40 h4, .hero41 h4, .hero42 h4, .hero43 h4 {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
}

/* Modo Oscuro */
body.dark-mode {
  background-color: #555;
  color: #e0e0e0;
}

body.dark-mode .navbar {
  background-color: #333;
}

body.dark-mode .btn-blue {
  background-color: #555;
}

body.dark-mode .carousel-card1 {
  background-color: #2c2c2c;
}

body.dark-mode .hero40::before, 
body.dark-mode .hero41::before, 
body.dark-mode .hero42::before, 
body.dark-mode .hero43::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349); /* Capa oscura semitransparente */
  z-index: 1; /* Coloca la capa por encima del fondo pero debajo del contenido */
}

/* Asegura que el contenido de hero esté por encima de la capa oscura */
body.dark-mode .hero-content40, 
body.dark-mode .hero-content41, 
body.dark-mode .hero-content42, 
body.dark-mode .hero-content43 {
  position: relative;
  z-index: 2;
}

body.dark-mode .carousel-subheader1 h2,
body.dark-mode .carousel-subheader1 a,
body.dark-mode .carousel-card1 p,
body.dark-mode .carousel-header1 h5 {
  color: #ffffff;
}

body.dark-mode .info-section {
  background-color: #212020; /* Color gris claro temporal para el mapa */
}

body.dark-mode .info-content {
  background-color: rgb(58, 58, 58);
}

body.dark-mode .info-content h5, 
body.dark-mode .info-content h1, 
body.dark-mode .info-content p {
  color: #ffffff;
}

body.dark-mode .btn-blue {
  background-color: #5e5e5e;
  color: white;
}

body.dark-mode .btn-blue:hover {
  background-color: #333333;
}

/* Sección de redes sociales */
body.dark-mode .social-section {
  background-color: #444444;
}

body.dark-mode .social-content,
body.dark-mode .social-icons,
body.dark-mode .divider {
  color: #ffffff;
}

/* Sección de ayuda */
body.dark-mode .help-item p {
  color: #ffffff;
}
