@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Aplica este estilo solo al contenedor principal de Index */
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.hero5 {
  background-image: url("/assets/img/Losbellotos.png") !important;  /* Aquí va la ruta de tu imagen */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: left; /* Centra verticalmente */
  text-align: left; /* Alinea el texto a la izquierda */
  color: white;
  padding: 40px 60px; /* Ajusta el padding para que no quede pegado a los bordes */
  box-sizing: border-box;
  flex-direction: column; /* Coloca los elementos en columna */
  margin-top: 74px;
}

.hero-content5 {
  margin-top: 100px;
  margin-left: 50px;
  align-items: start;
}

.hero5 h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* Ajusta el tamaño del texto principal */
  margin-bottom: 5px; /* Espaciado entre las líneas de texto */
}

.hero5 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-bottom: 40px; /* Espaciado entre el subtítulo y el botón */
}
.hero5 h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 150px;
  width: 690px;
  height: 297px;
  font-size: 1rem;
  margin-bottom: 5px; /* Espaciado entre el subtítulo y el botón */
}

/* Styling for the map section */
.map-section {
  flex: 1;
  margin-right: 10px;
  height: 650px;
  position: relative; /* Necesario para el posicionamiento absoluto */
}

/* Optional adjustments for the map iframe */
.map-section iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* Estilo para el contenedor del mapa */
.generalMap {
  height: 650px; /* Ajusta la altura según necesites */
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .map-section {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generalMap {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 600px; /* Ajusta la altura para móviles */
    border: 3px solid #4B67AE; /* Añade un borde azul alrededor del mapa */
    border-radius: 10px; /* Opcional: redondea las esquinas */
  }
  
  .map-section iframe {
    width: 90vw;
    height: 600px; /* Ajusta la altura para móviles */
    border: 3px solid #4B67AE; /* Añade un borde azul alrededor del mapa */
    border-radius: 10px; /* Opcional: redondea las esquinas */
  }
}