@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Estilos para el menú desplegable y submenú */
.header-left {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center; /* Alinea verticalmente el logo y el botón */
  gap: 10px; /* Espacio entre el logo y el botón de hamburguesa */
  margin-left: 20px; /* Espacio desde el borde izquierdo de la pantalla */
}

/* Ajusta el margen izquierdo del icono de Turismo en la barra de navegación */
.header-left .header-icon {
  width: 100px;
  height: 40px;
  margin-right: 10px; /* Espacio entre el logo y el botón de hamburguesa */
}

.dropdown-menu1 {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: block;
  list-style-type: none;
  right: -30%;
}

.dropdown-menu1 > li {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  cursor: pointer;
  position: relative; /* Añadido para que el submenú sea relativo a su padre */
}

.dropdown-menu1 > li:hover .dropdown-submenu {
  display: block; /* Muestra el submenú al pasar el mouse */
}

.dropdown-menu1 > li:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

.dropdown-menu1 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 90%;
  left: -220px;
  right: 30px;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: block;
}

.dropdown-menu1 li {
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
}

.dropdown-menu1 li a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* Estilos para el botón hamburguesa */
.header-left .navbar-toggle {
  display: none; /* Asegura que se muestre en dispositivos móviles */
}

.icon-image2 {
  margin-top: 10px;
  width: 45px; /* Cambia el tamaño a tu preferencia */
  height: 30px; /* Cambia el tamaño a tu preferencia */
}

.icon-image4 {
  margin-right: 10px;
  filter: invert(1);
  width: 30px; /* Cambia el tamaño a tu preferencia */
  height: 30px; /* Cambia el tamaño a tu preferencia */
}

.icon-image5 {
  margin-top: 15px;
  filter: invert(1);
  width: 34px; /* Cambia el tamaño a tu preferencia */
  height: 28px; /* Cambia el tamaño a tu preferencia */
}

.icon-image3 {
  margin: 12px;
  width: 30px; /* Cambia el tamaño a tu preferencia */
  height: 30px; /* Cambia el tamaño a tu preferencia */
}

.icon-image6 {
  margin-top: 0px;
  margin-left: 2px;
  width: 45px; /* Cambia el tamaño a tu preferencia */
  height: 30px; /* Cambia el tamaño a tu preferencia */
}

.icon-image7 {
  margin-right: -5px;
  margin-left: 0px;
  margin-top: -1px;
  width: 40px; /* Cambia el tamaño a tu preferencia */
  height: 33px; /* Cambia el tamaño a tu preferencia */
}


.navbar-icons-right .btn-blue2 {
  border: none;
  background: none;
  padding: 0;
}

.button-with-arrow {
  display: inline-flex; /* Asegura que el botón y la flecha estén en la misma línea */
  align-items: center; /* Alinea verticalmente el botón y la flecha */
}

.arrow-icon {
  margin-left: 5px; /* Espacio entre el botón y la flecha */
  width: 16px; /* Ajusta el tamaño de la flecha */
  height: auto;
  filter: brightness(0) invert(1); /* Cambia el color a blanco */
}

.arrow-icon2 {
  margin-left: -6px; /* Espacio entre el botón y la flecha */
  width: 16px; /* Ajusta el tamaño de la flecha */
  height: auto;
  filter: brightness(0) invert(1); /* Cambia el color a blanco */
}

.navbar-icons-right .navbar-logout {
  margin-right: -15px;
}

/* Estilo para la barra de búsqueda flotante */
.navbar-icons-right .navbar-search {
  position: relative; /* Para posicionar la barra de búsqueda de manera absoluta dentro del contenedor */
  margin-top: 10px;
}

/* Estilo para la barra de búsqueda desplegable dentro de navbar-icons-right */
.navbar-icons-right .search-bar {
  display: flex;
  align-items: center;
  position: absolute; /* Hace que la barra de búsqueda sea flotante */
  top: 40%; /* Centra la barra de búsqueda verticalmente en el header */
  transform: translateY(-50%); /* Ajuste para centrar verticalmente */
  right: 0; /* Alinea la barra de búsqueda hacia la derecha */
  background-color: white; /* Fondo blanco para la barra de búsqueda */
  border-radius: 5px;
  margin-right: 30px;
  padding: 5px 10px; /* Padding adicional para mayor separación */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  width: 200px; /* Ancho de la barra de búsqueda, ajusta según sea necesario */
}

/* Estilo para el campo de entrada de la barra de búsqueda */
.navbar-icons-right .search-bar input {
  border: none;
  padding: 5px;
  font-size: 14px;
  width: 180px;
  outline: none;
}

.navbar-icons-right .navbar-search button {
  background: none;
  border: none;
  font-size: 10px;
  color: #4B67AE; /* Color del ícono de enviar */
  cursor: pointer;
  margin-right: -14px;
  margin-left: -14px;
}

/* Estilo para el botón de enviar dentro de la barra de búsqueda */
.navbar-icons-right .search-bar button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: -30px;
  color: #4B67AE; /* Color del ícono de enviar */
  cursor: pointer;
}

.navbar-icons-right .search-bar button i {
  font-size: 20px;
  color: #333;
  margin-right: 10px; /* Espacio entre el ícono y el borde */
}

.navbar-icons-right .navbar-search i {
  font-size: 24px; /* Tamaño del icono */
  color: #ffffff;
}

/* Menú desplegable debajo de la barra de búsqueda */
.search-dropdown {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%; /* Justo debajo de la barra de búsqueda */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 230px; /* Ancho igual a la barra de búsqueda */
  max-height: 200px; /* Altura máxima del menú desplegable */
  overflow-y: auto; /* Scroll si el contenido es muy grande */
}

/* Estilo para cada opción del menú */
.search-dropdown .dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.search-dropdown .dropdown-item:hover {
  background-color: #f1f1f1; /* Cambio de color al pasar el mouse */
}

/* Estilos para el navbar */
.navbar1 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4B67AE; /* Color de fondo del navbar */
  padding: 15px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Transición suave */
  flex-wrap: nowrap; /* Evita que los elementos salten a una nueva línea */
}

.show {
  transform: translateY(0); /* Header visible */
}

.hide {
  transform: translateY(-100%); /* Header oculto al hacer scroll hacia abajo */
}

/* Clase para ocultar el navbar cuando se hace scroll hacia abajo */
.navbar-hidden {
  top: -100px; /* Desplaza el navbar hacia arriba, fuera de la pantalla */
}

.navbar-links1 {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 20px; /* Ajusta el margen derecho del menú para mayor separación */
  margin-left: -20px; /* Acerca "¿A dónde ir?" a la izquierda */
}

/* Estilos para los botones que se ven como enlaces (invisibles pero funcionales) */
.navbar-links1 button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px 0px 80px;
  cursor: pointer; /* Muestra el cursor de enlace al pasar por el botón */
  padding: 10px 0; /* Añade un poco de padding para que sea clicable */
  min-width: 100px; /* Ajusta según el ancho requerido para ambos idiomas */
  text-align: center;
}

/* Ajuste para "ES/EN" para que se distribuya equitativamente */
.navbar-icons-right .navbar-auth {
  margin-left: 120px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-icons-right .navbar-auth button {
  color: #ffffff;
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 0; /* Añade padding para aumentar el área clicable */
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 30px;
  right: -40px;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-menu > li {
  padding: 10px;
  cursor: pointer;
  position: relative; /* Añadido para que el submenú sea relativo a su padre */
}

.dropdown-submenu {
  position: absolute;
  top: 0;
  left: 100%; /* Mueve el submenú a la derecha */
  display: none; /* El submenú está oculto por defecto */
  list-style-type: none;
  padding: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Asegura que el submenú aparezca encima de otros elementos */
}

.dropdown-submenu li {
  padding: 10px;
}

.language-label1 {
  margin-left: -20px;
  margin-right: 20px;
}

.language-label{
  margin-left: -20px;
  margin-right: 20px;
}

.dropdown-menu > li:hover .dropdown-submenu {
  display: block; /* Muestra el submenú al pasar el mouse */
}

a {
  text-decoration: none;
  color: black;
}

  /* Estilos adicionales */
.dropdown-menu > li:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

  /* Estilos adicionales */
.dropdown-submenu > li:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

.navbar-icons-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los íconos */
  margin-left: auto; /* Empuja este contenedor hacia la derecha */
  position: relative;
}

.navbar-toggle-icons {
  display: none;
}

.navbar-icons-right .icons-container {
  display: flex; /* Alinea los iconos en fila */
  flex-direction: row; /* Asegura que estén en una fila en pantallas grandes */
  gap: 10px; /* Espacio entre los iconos */
}

@media (max-width: 1400px) {

  .navbar-icons-right .search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    background-color: white;
    border-radius: 5px;
    margin-right: 60px;
    padding: 5px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
  }
  .navbar1 {
    padding: 20px 10px; /* Reducción de padding en pantallas medianas */
  }

  .navbar-links1 {
    margin-left: 0px; /* Reduce el margen izquierdo en pantallas medianas */
  }

  .dropdown-menu1 {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 90%;
    left: -224px;
    right: 60px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }

  .navbar-links1 button {
    font-size: 14px; /* Disminuye el tamaño de la fuente */
    padding: 10px; /* Menos padding */
    margin: 0 5px; /* Reduce el margen entre botones */
  }
  .navbar-icons-right .icons-container {
    display: none; /* Oculta el contenedor de iconos por defecto en pantallas pequeñas */
  }
  
  /* Mostrar el botón caret-down en pantallas pequeñas */
  .navbar-toggle-icons {
    display: block;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -10px;
    right: -20px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
  }
  
  .dropdown-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  
  .dropdown-menu > li {
    padding: 10px;
    cursor: pointer;
    position: relative; /* Añadido para que el submenú sea relativo a su padre */
  }

  .language-label1 {
    display: none;
  }

  .language-label{
    display: none;
  }

  .navbar-icons-right {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha en móviles también */
  }
  
  /* Mostrar el contenedor de iconos en columna cuando el menú desplegable está activo */
  .navbar-icons-right .icons-container.show {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos verticalmente */
    position: fixed;
    top: 90px;
    right: 10px;
    background-color: #4B67AE;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 2px solid lightcyan;
    height: auto;
    width: 100px;
  }
  
  /* Estilo para el botón de búsqueda */
  .navbar-icons-right .navbar-search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
  
  /* Espaciado entre iconos en el menú desplegable */
  .navbar-icons-right .icons-container .btn-blue2 {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 8px 10px;
    color: white;
    margin: 0;
  }
  
  /* Estilo para el botón de modo oscuro */
  .navbar-icons-right .icons-container .dark-mode-toggle {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    color: white;
    margin: 0;
  }

  .navbar-icons-right .icons-container .dark-mode-toggle .icon-image2,
  .navbar-icons-right .icons-container .dark-mode-toggle .icon-image3,
  .navbar-icons-right .icons-container .btn-blue2 .icon-image5 {
    margin: 0
  }
  
  /* Estilo para el contenedor de búsqueda */
  .navbar-icons-right .navbar-search {
    position: relative;
    margin: 0;
  }
  
  /* Estilo para la autenticación */
  .navbar-icons-right .navbar-auth {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0;
    flex-grow: 0;
  }
  
}

@media (max-width: 840px) {
  .navbar-icons-right .icons-container.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: -10;
    background-color: #4B67AE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 2px solid lightcyan;
}
  .navbar1 {
    padding: 10px 10px; /* Reducción de padding en pantallas medianas */
  }

  .navbar-links1 {
    margin-left: 0px; /* Reduce el margen izquierdo en pantallas medianas */
  }

  .navbar-links1 button {
    font-size: 14px; /* Disminuye el tamaño de la fuente */
    padding: 10px; /* Menos padding */
    margin: 0 5px; /* Reduce el margen entre botones */
  }
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    top: 10%;
    left: 30px;
    right: -40px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
  }
  
  .dropdown-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  
  .dropdown-menu > li {
    padding: 10px;
    cursor: pointer;
    position: relative; /* Añadido para que el submenú sea relativo a su padre */
  }
  .navbar1 {
    padding: 10px 10px;
  }


  .navbar-links1 button {
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    margin: 0 5px; /* Reduce el margen entre botones */
    padding: 5px 8px; /* Menos padding */
  }

  .header-left .navbar-toggle {
    display: block; /* Mostrar el botón hamburguesa */
  }


  .dropdown-menu1 {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 100%;
    left: -232px;
    right: 42px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }

  .navbar-links1 {
    display: none; /* Ocultar los enlaces en móviles */
    flex-direction: column;
    background-color: #4B67AE;
    position: absolute;
    top: 60px;
    left: 0;
    width: auto;
    z-index: 999;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en una nueva línea si es necesario */
    justify-content: space-around; /* Distribuye equitativamente los botones */
    margin-left: 40px; /* Elimina el margen en pantallas pequeñas */
    border: 2px solid lightcyan;
    border-radius: 5px;
  }

  .navbar-links1.active {
    display: flex; /* Mostrar el menú cuando está activo */
  }

  .navbar1 {
    justify-content: space-between;
  }

  .navbar-auth {
    display: none; /* Opcional: ocultar la parte de autenticación en móviles */
  }

  /* Ajuste del Menú Desplegable en Pantallas Pequeñas */
  .dropdown-menu {
    width: 50vw;
    left: 100%;
    right: 0;
  }


  .dropdown-submenu {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #4B67AE;
    padding-left: 15px;
  }

  .dropdown-menu li {
    font-size: 1.0rem;
    text-align: left;
    width: 100%;
    padding: 3px;
    margin: 1px;
  }

  .dropdown-menu li ul {
    font-size: 1.0rem;
    text-align: left;
    width: 100%;
    padding: 3px;
    margin: 1px;
    background-color: white;
  }

  .dropdown-menu li ul {
    border: 1px solid black;
  }


  .header-left .header-icon{
    margin: auto;
  }

  .header-left{
    margin-left: 0;
  }

  .navbar-toggle {
    font-size: 24px; /* Tamaño del ícono */
    color: white; /* Color del ícono de hamburguesa */
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al de un enlace */
    margin-left: -10px;
  }

}

/* Ocultar iconos individuales en pantallas de 480px o menos */
@media (max-width: 480px) {

  .navbar-icons-right .icons-container.show{
    width: 80px;
  }

  /* Mostrar el botón caret-down en pantallas pequeñas */
  .navbar-toggle-icons {
    display: block;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .dropdown-menu1 {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 90%;
    left: -228px;
    right: 42px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }


  .language-label1 {
    display: none;
  }

  .language-label{
    display: none;
  }


  .dropdown-menu1 li {
    font-family: "Roboto", sans-serif;
    padding: 5px 20px;
  }

}


/* Modo Oscuro */
body.dark-mode {
background-color: #555;
color: #e0e0e0;
}

body.dark-mode .navbar1 {
background-color: #333;
}

body.dark-mode .btn-blue {
background-color: #555;
}

body.dark-mode .carousel-card1 {
background-color: #2c2c2c;
}

body.dark-mode .hero2::before {
background: rgba(0, 0, 0, 0.459); /* Capa negra semitransparente */
}

body.dark-mode .hero2 button {
background-color: #525563; /* Color de fondo del botón */
color: white;
}

body.dark-mode .hero2 button:hover {
background-color: #3b3d45; /* Color de fondo del botón */
}

body.dark-mode .carousel-subheader1 h2 {
color: #ffffff;
}

body.dark-mode .carousel-subheader1 a {
color: #ffffff;
}

body.dark-mode .carousel-card1 p {
color: #ffffff;
}

body.dark-mode .carousel-header1 h5 {
color: #ffffff; /* Color gris */
font-size: 1rem;
}

/* Fondo oscuro para la sección community en modo oscuro */
body.dark-mode .community-section1::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.411); /* Capa oscura semitransparente */
z-index: 1; /* Capa por encima del fondo pero debajo del contenido */
}

/* Asegura que el contenido de community-section1 esté por encima de la capa oscura */
body.dark-mode .community-content1 {
position: relative;
z-index: 2;
}

/* Sección de Lugares inolvidables */
body.dark-mode .info-section1 {
background-color: #212020; /* Color gris claro temporal para el mapa */
}

body.dark-mode .info-content1 {
background-color: rgb(58, 58, 58);
}


body.dark-mode .info-content h5 {
color: #ffffff; /* Color gris para el subtítulo */
}


body.dark-mode .info-content h1 {
color: #ffffff;
}


body.dark-mode .info-content p {
color: #333;
}


body.dark-mode .btn-blue {
background-color: #5e5e5e;
color: white;
}


body.dark-mode .btn-blue:hover {
background-color: #333333;
}

/* Sección de redes sociales */
body.dark-mode .social-section1 {
background-color: #121212; /* Color claro de fondo */
}

body.dark-mode .social-content1 {
color: #ffffff; /* Aplica el azul usado previamente a todo el texto */
}

body.dark-mode .social-icons1 {
color: #ffffff; /* Color de los iconos en azul */
}

body.dark-mode .divider {
background-color: #ffffff;
}

/* Sección de ayuda */
body.dark-mode .help-item p {
color: #ffffff;
}

body.dark-mode .social-icons2 {
font-size: 2rem;
color: #ffffff; /* Azul oscuro */
transition: color 0.3s ease; /* Añade una transición suave al color */
}

body.dark-mode .social-icons2 i {
color: #ffffff; /* Color ligeramente más oscuro al hacer hover */
}

body.dark-mode .social-icons2 i:hover {
color: #ffffff; /* Color ligeramente más oscuro al hacer hover */
}

body.dark-mode .dropdown-menu {

background-color: rgb(0, 0, 0);

}

body.dark-mode .dropdown-menu li a {
color: rgb(255, 255, 255);
}

body.dark-mode .dropdown-menu li {
color: rgb(255, 255, 255);

}

body.dark-mode .dropdown-submenu li a {
color: rgb(255, 255, 255);
}

body.dark-mode .dropdown-submenu li {
color: rgb(255, 255, 255);
background-color: #000000;
}


/* Estilos adicionales */
body.dark-mode .dropdown-menu > li:hover {
background-color: #5e5e5e; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos adicionales */
body.dark-mode .dropdown-submenu > li:hover {
background-color: #5e5e5e; /* Cambia el color de fondo al pasar el mouse */
}


