
/* Título de la lista de servicios */
.services-title {
    text-align: center;
    color: #4B67AE;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.TipoOferente{
    font-size: 16px;
    color: #757575;
}
.services-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.services-list{
    margin-top: 100px;
}
.TipoOferente {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

/* Estilos para pantallas móviles */
@media (max-width: 480px) {
    /* Título de la lista de servicios */
    .services-title {
        text-align: center;
        color: #4B67AE;
        margin-top: 100px; /* Espacio más pequeño para móviles */
        font-size: 20px; /* Tamaño de fuente reducido */
        font-weight: bold;
    }
    .service-title {
        margin: 0 0 5px;
    }

    /* Texto para el tipo de oferente */
    .TipoOferente {
        font-size: 12px; /* Tamaño de fuente más pequeño */
        color: #757575;
        margin-bottom: 10px;
    }

    /* Contenedor de la lista de servicios */
    .services-list-container {
        max-width: 100%; /* Ocupa el ancho completo en móviles */
        margin: 0 auto;
        padding: 10px; /* Reduce el padding para móviles */
    }

    /* Margen superior de la lista de servicios */
    .services-list {
        margin-top: 50px; /* Reduce el margen superior en móviles */
    }

    /* Ajuste adicional para el tipo de oferente */
    .TipoOferente {
        font-size: 12px; /* Fuente más pequeña */
        color: #555;
        margin-bottom: 8px;
    }
}