/* Contenedor principal */
.privacidad-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
}

/* Sección de encabezado */
.header-section {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  margin-top: 160px;
  padding: 0 20px;
}

.header h5 {
  color: #757575;
  font-size: 1rem;
  margin-bottom: 10px;
}

.subheader h1 {
  color: #4b67ae;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Sección de contenido */
.content-section {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  line-height: 1.6; /* Mejorar legibilidad */
  color: #333;
  padding: 0 20px;
}

.content-section h5 {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Responsividad */
@media (max-width: 800px) {
  .header-section {
    margin-top: 100px;
  }  

  .header h5 {
    font-size: 0.9rem;
  }

  .subheader h1 {
    font-size: 2rem; /* Reducir tamaño de texto en móviles */
  }

  .content-section h5 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {

  .subheader h1 {
    font-size: 1.8rem; /* Reducir más el tamaño en móviles */
  }

  .content-section h5 {
    font-size: 0.8rem;
  }
}

body.dark-mode .privacidad-container {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

body.dark-mode .header h5 {
  color: #bbbbbb; /* Texto claro */
}

body.dark-mode p {
  color: #d1d1d1; /* Texto claro */
}

body.dark-mode .subheader h1 {
  color: #ffffff; /* Azul claro */
}

body.dark-mode .content-section h5 {
  color: #d1d1d1; /* Texto claro */
}
