/* Aplica este estilo solo al contenedor principal de Index */
.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .hero15 {
    background-image: url("../assets/img/Rari.png") !important;  /* Aquí va la ruta de tu imagen */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: left; /* Centra verticalmente */
    text-align: left; /* Alinea el texto a la izquierda */
    color: white;
    padding: 40px 60px; /* Ajusta el padding para que no quede pegado a los bordes */
    box-sizing: border-box;
    flex-direction: column; /* Coloca los elementos en columna */
    margin-top: 74px;
  }
  
  .hero-content15 {
    margin-top: 100px;
    margin-left: 50px;
    align-items: start;
  }
  
  .hero15 h5 {
    font-size: 1rem; /* Ajusta el tamaño del texto principal */
    margin-bottom: 5px; /* Espaciado entre las líneas de texto */
  }
  
  .hero15 h1 {
    font-size: 3rem;
    margin-bottom: 40px; /* Espaciado entre el subtítulo y el botón */
  }
  .hero15 h4 {
    margin-top: 150px;
    width: 690px;
    height: 297px;
    font-size: 1rem;
    margin-bottom: 5px; /* Espaciado entre el subtítulo y el botón */
  }

          /* Modo Oscuro */
body.dark-mode {
  background-color: #555;
  color: #e0e0e0;
}



body.dark-mode .carousel-card1 {
  background-color: #2c2c2c;
}





body.dark-mode .carousel-card1 p {
  color: #ffffff;
}

body.dark-mode .carousel-header1 h5 {
  color: #ffffff; /* Color gris */
  margin: 0;
  font-size: 1rem;
}



/* Asegura que el contenido de community-section1 esté por encima de la capa oscura */
body.dark-mode .community-content3 {
  position: relative;
  z-index: 2;
}

/* Sección de Lugares inolvidables */
body.dark-mode .info-section {
  background-color: #212020; /* Color gris claro temporal para el mapa */
}

body.dark-mode .info-content {
  background-color: rgb(58, 58, 58);
}


body.dark-mode .info-content h5 {
  color: #ffffff; /* Color gris para el subtítulo */
}


body.dark-mode .info-content h1 {
  color: #ffffff;
}


body.dark-mode .info-content p {
  color: #ffffff;
}




body.dark-mode .social-content {
  color: #ffffff; /* Aplica el azul usado previamente a todo el texto */
}

body.dark-mode .social-icons {
  color: #ffffff; /* Color de los iconos en azul */
}

body.dark-mode .divider {
  background-color: #ffffff;
}

/* Sección de ayuda */
body.dark-mode .help-item p {
  color: #ffffff;
}

/* Modo oscuro para la sección hero3 */
body.dark-mode .hero15::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349); /* Capa oscura semitransparente */
  z-index: 1; /* Coloca la capa por encima del fondo pero debajo del contenido */
}

/* Asegura que el contenido de hero3 esté por encima de la capa oscura */
body.dark-mode .hero-content15 {
  position: relative;
  z-index: 2;
}

/* Asegura que el contenido de hero3 esté por encima de la capa oscura */
body.dark-mode .info-section {
  position: relative;
  z-index: 2;
}

/* Asegura que el contenido de hero3 esté por encima de la capa oscura */
body.dark-mode .carousel-header1 {
  position: relative;
  z-index: 2;
}

body.dark-mode .carousel-card1 {
  position: relative;
  z-index: 2;
}
body.dark-mode .info-section {
  position: relative;
  z-index: 2;
}
  