/* Contenedor principal */
.sobrenosotros-container-SN {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
}

/* Sección de encabezado */
.header-section-SN {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  margin-top: 100px;
  padding: 0 20px;
}

.header-SN h5 {
  color: #757575;
  font-size: 1rem;
  margin-bottom: 10px;
}

.subheader-SN h1 {
  color: #4b67ae;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Sección de contenido */
.content-section-SN {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  line-height: 1.6; /* Mejorar legibilidad */
  padding: 0 20px;
}

.content-section-SN p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: black;
}

/* Subtítulos en contenido */
.subheader-SN h2 {
  color: #4b67ae;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Responsividad */
@media (max-width: 800px) {
  .header-section-SN {
    margin-top: 100px;
  }
  
  .subheader-SN h1,
  .subheader-SN h2 {
    font-size: 1.8rem;
  }

  .content-section-SN p {
    font-size: 0.9rem;
  }

}

@media (max-width: 480px) {

  .header-section-SN {
    margin-top: 120px; /* Ajustar espacio superior */
  }

  .subheader-SN h1,
  .subheader-SN h2 {
    font-size: 1.5rem;
  }

  .content-section-SN p {
    font-size: 0.8rem;
  }
}
body.dark-mode .sobrenosotros-container-SN {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

body.dark-mode .header-section-SN {
  background-color: #121212; /* Fondo oscuro para la sección de encabezado */
}

body.dark-mode .header-SN h5 {
  color: #bbbbbb; /* Texto claro */
}

body.dark-mode .subheader-SN h1 {
  color: #87a1f5; /* Azul claro */
}

body.dark-mode .content-section-SN {
  background-color:#121212; /* Fondo oscuro para la sección de contenido */
}

body.dark-mode .content-section-SN p {
  color: #d1d1d1; /* Texto claro */
}

body.dark-mode .subheader-SN h2 {
  color: #87a1f5; /* Azul claro para subtítulos */
}
