/* Aplica este estilo solo al contenedor principal de Index */
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Responsividad: Ajusta las columnas para pantallas más pequeñas */
@media (max-width: 768px) {
  .logo {
    width: 100px; /* Ajusta el tamaño de los logos en pantallas pequeñas */
    height: auto;
  }
}