@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Estilos generales */
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.hero17 {
  background-image: url("/assets/img/Losbellotos.png") !important; /* Ruta de la imagen de fondo */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: white;
  padding: 40px 60px;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.hero-content17 {
  margin-top: 100px;
  margin-left: 50px;
  align-items: flex-start;
}

.hero17 h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

.hero17 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-bottom: 40px;
}

.hero17 h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 150px;
  width: 690px;
  height: auto;
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Estilo para el contenedor del mapa */
.generalMap {
  height: 650px; /* Ajusta la altura según necesites */
  position: relative;
  z-index: 0;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .hero17 {
    padding: 20px;
    min-height: 65vh;
    text-align: center;
  }

  .hero-content17 {
    margin-top: 60px;
    margin-left: 0;
    align-items: center;
  }

  .hero17 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero17 h4 {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .map-section {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generalMap {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 600px; /* Ajusta la altura para móviles */
    border: 3px solid #4B67AE; /* Añade un borde azul alrededor del mapa */
    border-radius: 10px; /* Opcional: redondea las esquinas */
  }
  
  .map-section iframe {
    width: 90vw;
    height: 600px; /* Ajusta la altura para móviles */
    border: 3px solid #4B67AE; /* Añade un borde azul alrededor del mapa */
    border-radius: 10px; /* Opcional: redondea las esquinas */
    margin: 0;

  }

  .carousel-container1 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
  }

  .carousel-container1 .carousel-card1 {
    flex: 0 0 80%;
    scroll-snap-align: center;
    margin: 0 10px;
    width: 200px;
    max-width: 300px;
  }

  /* Ajustes para flechas de control en dispositivos móviles */
  .carousel-control1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }

  .carousel-control1.prev {
    left: 10px;
  }

  .carousel-control1.next {
    right: 10px;
  }
}

/* Ajustes para pantallas extra pequeñas */
@media (max-width: 480px) {
  .hero17 h1 {
    font-size: 1.5rem;
  }

  .hero17 h4 {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

/* Modo oscuro */
body.dark-mode {
  background-color: #555;
  color: #e0e0e0;
}

body.dark-mode .hero17::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

body.dark-mode .hero-content17 {
  position: relative;
  z-index: 2;
}

body.dark-mode .carousel-card1
 {
  background-color: #2c2c2c;
}

body.dark-mode .carousel-subheader1 h2,
body.dark-mode .carousel-subheader1 a,
body.dark-mode .carousel-card1 p,
body.dark-mode .carousel-header1 h5{
  color: #ffffff;
}