/* Contenedor principal */
.turismo-container-TA {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding-top: 160px;
}

/* Sección de introducción */
.intro-section-TA {
  text-align: center;
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  padding: 0 20px;
}

.intro-header-TA h5 {
  color: #757575;
  font-size: 1rem;
  margin-bottom: 10px
}

.intro-subheader-TA h1 {
  color: #4b67ae;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.intro-details-TA h5 {
  font-size: 18px;
  color: black;
  margin-top: 20px;
}

/* Responsividad */
@media (max-width: 800px) {

  .intro-subheader-TA h1 {
    font-size: 28px;
  }

  .intro-details-TA h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .intro-subheader-TA h1 {
    font-size: 24px;
  }

  .intro-details-TA h5 {
    font-size: 14px;
  }
}

body.dark-mode .turismo-container-TA {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

body.dark-mode .intro-header-TA h5 {
  color: #bbbbbb; /* Texto claro */
}

body.dark-mode .intro-subheader-TA h1 {
  color: #ffffff; /* Azul claro */
}

body.dark-mode .intro-details-TA h5 {
  color: #ffffff; /* Texto claro */
}
