.verificacion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #4B67AE; /* Borde alrededor de todo el contenido */
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    width: 400px;
    margin: auto; /* Centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper-container-veri {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Para que ocupe toda la altura de la pantalla */
  }

  .avatar {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .avatar-text {
    font-size: 36px;
    color: #4B67AE;
    font-weight: bold;
  }
  
  h1 {
    font-size: 24px;
    color: #4B67AE;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .start-btn {
    background-color: #4B67AE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
  }
  
  .start-btn:hover {
    background-color: #3f51b5;
  }
  