/* Contenedor principal para Zoit */
.zoit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
}

/* Sección de introducción */
.zoit-intro-section {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo */
  text-align: left;
  margin-top: 160px;
  padding: 0 20px;
}

/* Encabezado de la sección */
.zoit-intro-header h5 {
  color: #757575;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 10px;
}

.zoit-intro-subheader h2 {
  color: #4b67ae;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Detalles de la sección */
.zoit-intro-details h5 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
}

/* Responsividad */
@media (max-width: 768px) {
  .zoit-intro-section {
    margin-top: 100px;
    padding: 0 20px;
 }    
  .zoit-intro-header h5 {
    font-size: 16px;
  }

  .zoit-intro-subheader h2 {
    font-size: 28px;
  }

  .zoit-intro-details h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .zoit-intro-subheader h2 {
    font-size: 24px;
  }

  .zoit-intro-details h5 {
    font-size: 14px;
  }
}

body.dark-mode .zoit-container {
  background-color:#121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

body.dark-mode .zoit-intro-header h5 {
  color: #bbbbbb; /* Texto claro para el modo oscuro */
}

body.dark-mode .zoit-intro-subheader h2 {
  color: #ffffff; /* Azul más claro en modo oscuro */
}

body.dark-mode .zoit-intro-details h5 {
  color: #d1d1d1; /* Texto claro para modo oscuro */
}
