@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

h1 {
    color: var(--Color-Primario, #4B67AE);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}