<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta Satisfacción</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table align="center" width="100%" style="max-width: 600px; background-color: #ffffff; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #C0DBE7;">
                <img src="https://mueblescaracol.cl/productos/visita_colbun.png" alt="Logo" style="max-width: 100px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="font-size: 24px; color: #333333; text-align: center;">Encuesta de satisfacción Visita Colbún</h1>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    Hola, <strong>{{ user.first_name }}</strong>,<br>
                    Estamos realizando una breve encuesta para conocer tu experiencia con nosotros.
                </p>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    Responder a este formulario no te va a llevar más de 5 minutos.<br>
                </p>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    Esta encuesta es anónima y en ningún caso podremos identificarte por tus respuestas.
                </p>
                <p style="font-size: 16px; color: #555555; text-align: center;">
                    <a href="https://forms.gle/bZ9dV64PmGA1rUmj9" style="display: inline-block; background-color: #4B67AE; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-weight: bold;">
                        Encuesta
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; background-color: #f4f4f4; text-align: center;">
                <p style="font-size: 14px; color: #999999; line-height: 1.5;">
                    Este correo electrónico fue enviado a {{ user.email }}.<br>
                    Si prefieres no recibir este tipo de correo, puedes <strong>darte de baja</strong>.
                </p>
                <p style="font-size: 14px; color: #999999;">Adolfo Novoa 419, Colbún, Maule, Chile</p>
            </td>
        </tr>
    </table>
</body>
</html>