<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer COntraseña</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table align="center" width="100%" style="max-width: 600px; background-color: #ffffff; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #C0DBE7;">
                <img src="https://mueblescaracol.cl/productos/logo.png" alt="Logo" style="max-width: 100px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="font-size: 24px; color: #333333; text-align: center;">¡Recibimos tu solicitud!</h1>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    ¡Hola!, <strong>{{ username }}</strong>,<br>
                    Ahora puedes restablecer tu contraseña.
                </p>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    Recuerda: tienes 24 horas para cambiar tu
                    contraseña. Pasado ese tiempo, tendrás que
                    enviar una nueva solicitud.
                </p>
                <p style="font-size: 16px; color: #555555; line-height: 1.5;">
                    ¿No solicitaste cambiar la contraseña? Puedes ignorar este correo.
                </p>
                <p style="font-size: 16px; color: #555555; text-align: center;">
                    <a href="{{ reset_link }}" style="display: inline-block; background-color: #4B67AE; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-weight: bold;">
                        Restablecer Contraseña
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; background-color: #f4f4f4; text-align: center;">
                <p style="font-size: 14px; color: #999999; line-height: 1.5;">
                    Este correo electrónico fue enviado a {{ email }}.<br>
                    Si prefieres no recibir este tipo de correo, puedes <strong>darte de baja</strong>.
                </p>
                <p style="font-size: 14px; color: #999999;">Adolfo Novoa 419, Colbún, Maule, Chile</p>
            </td>
        </tr>
    </table>
</body>
</html>